* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    /* background-color: black; */
    overflow-x: hidden;
}

.gradient__bg {
    background: radial-gradient(83.94% 83.94% at 50% 100%, rgba(17, 100, 102, 0.76) 47.12%, #000000 100%);
}

.gradient__bg2 {
    background: linear-gradient(180deg, #FFFFFF 0%, #40B6C4 100%);
}


/* Disable forced dark mode styles on Samsung/Android browsers */

html {
    color-scheme: light only;
    forced-color-adjust: none;
    -webkit-appearance: none;
}


/* Ensure consistent background and text behavior */

body {
    /* background-color: #000; */
    /* or your preferred color */
    /* color: #fff; */
    /* match your design */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}