* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.body {
    background-color: black;
}

.gradient__bg {
    background: linear-gradient( 180deg, #0B0B1A 0%, #092229 20%, #157C97 50%, #3CAFC7 80%, #1F778F 100%);
}

.gradient__bg2 {
    background: linear-gradient(180deg, #FFFFFF 0%, #40B6C4 100%);
}